{% extends "base.html" %}
{% load core_extras %}

{% block content %}
    {% for university in universities %}
        {% if university.programs_serialized|number_of_students:selected_program > 0 %}
            <div class="card" style="max-width: 1000px; margin: 0 auto;">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <h2 class="title is-4">{{ university.name }}</h2>
                            <p class="subtitle is-6">{{ university.city }}, {{university.country }}</p>
                            {% if university.programs_serialized|number_of_students:selected_program > 1 %}
                                <p class="subtitle is-6 is-pulled-right">rapporter fra <br />{{ selected_program }}</p>
                            {% else %}sk
                                <p class="subtitle is-6 is-pulled-right">rapport fra <br />{{ selected_program }}</p>
                            {% endif %}
                            <p class="title is-1 is-pulled-right" style="margin-right: 0.4rem;">{{ university.programs_serialized|number_of_students:selected_program }}</p>


                            
                            
                            <details>
                                <summary>Rapporter</summary>
                                <p>
                                    {% for report_id in university.programs_serialized|report_ids:selected_program %}
                                        <a href="https://www.ntnu.no/studier/studier_i_utlandet/rapport/report_view.php?report_id={{ report_id }}&language=no">rapport {{ report_id }}</a>
                                        <br />
                                    {% endfor %}
                                    
                                </p>
                            </details>
                        </div>
                    </div>
                </div>
                <footer class="card-footer">
                    <!-- <a href="{{ university.homepage }}" class="card-footer-item">Hjemmeside</a> -->
                </footer>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
